<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <form  th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Logout">-->
<!--    </form>-->
<!--</div>-->

<!--<h2>User Info</h2>-->
<!--<br>-->

<!--<form th:method="POST" th:action="@{/user/saveUser}" th:object="${user}">-->

<!--    <input type="hidden" th:field="*{id}" id="id">-->

<!--    <div>-->
<!--        <label for="username">Username </label>-->
<!--        <input type="text" th:field="*{username}" id="username"/>-->
<!--        <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"/>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div>-->
<!--        <label for="password">Password </label>-->
<!--        <input type="text" th:field="*{password}" id="password"/>-->
<!--        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>-->
<!--    </div>-->
<!--    <br>-->

<!--    <label for="name">Name </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <br><br>-->
<!--    <label for="surname">Surname </label>-->
<!--    <input type="text" th:field="*{surname}" id="surname"/>-->
<!--    <br><br>-->
<!--    <label for="email">Email </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <br><br>-->
<!--    <label for="salary">Salary </label>-->
<!--    <input type="text" th:field="*{salary}" id="salary"/>-->
<!--    <br><br>-->




<!--    <input type="submit" value="OK"/>-->


<!--</form>-->

<!--</body>-->
<!--</html>-->